/* .main{
    width: 750px;
    height: 350px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.img{
    margin-left: 20px;

}

.text{
    float:left;
    margin-right: 50px;

} */
.container{
    width: 1200px;
    height: 800px;

}

.header{
    display: inline-block;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 1200px;
    height: 100px;
}



.body{
    height: 700px;
    width: 1200px;
    display: flex;
}

.left{

    width: 900px;
    height: 700px;
}

.content{

    width: 300px;
    height: 700px;
    float: left;
}


img{
    width: 300px;
    height: 550px;
}

ul{
    list-style: none;
     display: inline-block;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
