main{
    width: 1000px;
    height: 800pxl;;
}

.header{
    width: 1000px;
    height: 100px;
}

.container{
    width: 1000px;
    height: 600px;
    display: flex
}

.left{
    width: 250px;
    height: 600px;
    float: right
}

.right{
    background-color: greenyellow;
    width: 750px;
    height: 600px;
    float: right
}

.footer{
    background-color: black;
    width: 1000px;
    height: 100px
}

